body {
  margin: 0;
}

.home_top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
